{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Beta programming</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <nav class="sidebar clearfix">
         
        <ul>
            <li><a class="sidebar--link" href="{% url 'index' %}">Home</a></li>
            <li><a class="sidebar--link" href="{% url 'posts' %}">Postagens</a></li>
            <li><a class="sidebar--link" href="#">Sobre mim</a></li>
        </ul>
    </nav>
     <div class="sidebar--button">MENU</div>
     
    <section class="main">
        <header>
            <h2>Ultimas postagens</h2>
        </header>
        {% for post in posts %}
            <article class="main--post">
                <a href="{% url 'detail' post.id %}"><h2>{{ post.title }}</h2></a>
                <datetime>Criado em: {{post.published_date }}</datetime>
                <p>
                    {{ post.description }}
                </p>
            </article>
        {% endfor %}
    </section>
    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>